.HomePage{
    background-color: rgb(212, 211, 211);
    height: 100vh;
    width: 100vw;
}

.home-champ1{
    height: auto;
    width: 100%;
}

.home-title{
    display: flex;
    justify-content: center;
    padding: 10px 15px;
}

.home-item{
    display: flex;
    justify-content: center;
    padding: 10px 15px;
    font-size: 20px;
}