.product-edit{
width: 100%;
color: green;
border-color: green;
border-radius: 5px;
background-color: transparent;
}

.product-delete{
    width: 100%;
    color: red;
    border-color: red;
    border-radius: 5px;
    background-color: transparent;
}